TAGS
*~
.*~
*.pyc
.#*
#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
*/build
*/tmp
*/*/tmp
symneqsys/nleq2/nleq2.f
symneqsys/nleq2/wnorm.f
symneqsys/nleq2/linalg_nleq2.f
symneqsys/nleq2/zibconst.f
symneqsys/nleq2/zibsec.f
symneqsys/nleq2/zibmon.f
symneqsys/*/prebuilt/*.*
