TAGS
*~
.*~
*.pyc
.#*
\#*\#
*/*~
*/.*~
*/*.pyc
*/.\#*
*/\#*\#
*/*.so
build/
*/build
*/tmp
*/*/tmp
symneqsys/minpack/dpmpar.f
symneqsys/minpack/enorm.f
symneqsys/minpack/lmder.f
symneqsys/minpack/lmder1.f
symneqsys/minpack/lmpar.f
symneqsys/minpack/qrfac.f
symneqsys/minpack/qrsolv.f
symneqsys/minpack/prebuilt/*.o
symneqsys/nleq2/nleq2.f
symneqsys/nleq2/wnorm.f
symneqsys/nleq2/linalg_nleq2.f
symneqsys/nleq2/zibconst.f
symneqsys/nleq2/zibsec.f
symneqsys/nleq2/zibmon.f
symneqsys/*/prebuilt/*.*
symneqsys/*/*.o
#ifort
symneqsys/*/*__genmod.mod
symneqsys/*/*__genmod.f90
